#container > div {
    margin: 0;
    border: 0;
}
#container {
    display: grid;
    grid-template-columns: repeat(64, 10px);
    grid-template-rows: repeat(64, 10px);
    border: 1px solid black;
}

.colored {
    background-color: rgb(138, 73, 73);
}

#title {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

body {
    background-color: rgb(219, 217, 217);
}

#grid {
    background-color: white;
    height: 37vw;
    width: 37vw;
    box-shadow: rgba(0, 0, 0, 0.274) 0px 3px 8px;
}

.main {
    display: flex;
    margin-left: 10vw;
    gap: 8vw;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.left-side > div:not(.size) {
    border: 1px solid black;
    height: 6vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: large;
}

input#color-picker {
    height: 7vw;
    width: 7vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input#color-picker::-webkit-color-swatch {
    border-radius: 100%;
}

.size {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
input[type='range'] {
    width: 15vw;
    height: 10px;
    -webkit-appearance: none;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.274) 0px 3px 8px;
    border-radius: 3px;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #1d1d1d;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
}
